bgc = #147DDD

*
 margin 0
 padding 0


body
    background-color #cccccc
    font-family sans-serif
    margin 0 auto
    min-width 900px
   

header 
    background-color bgc
    display block
    color #ffffff
    text-align center
    h2 
     margin 0
h1 
    fontsize 72px
    margin 0

h2 
    font-size 24px
    margin 0
    text-align center
        
