.weui-tabbar {
   display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 500;
    background-color: #F7F7FA;
  }
  .weui-tabbar__item{
      flex:1;
      text-emphasis: center;
      padding: 5px 0 0;
      font-size: 0;
      color: #880080;
  }
  .weui-tabbar__item>span{
      display: inline-block;
      position: relative;
  }
  .weui-tabbar__icon{
      display: inline-block;
      width:27px;
      height: 27px;
  }
  .weui-badge{
      position: absoulte;
      top:-2px;
      right: -13px;
      min-width: 8px;
      background-color: #F43539;
      display: inline-block;
      padding: .15em .3em;
      font-size: 12px;
      line-height: 12px;
      border-radius: 18px;
  }
  .weui-tabbar__label{
      font-size: 10px;
      color: #880080;
      text-align: center;
      line-height: 10px
  }